<div class="datetime">
    <time datetime="{{datetime}}">
        {{#datetime}}{{#toString}}MMM. d yyyy, h:mm tt{{/toString}}{{/datetime}}
    </time>
</div>
<div class="victims">
    {{#victims}}
        {{> victim}}
    {{/victims}}
</victims>
<div class="location">
    {{address}}
</div>