<div class="victim" id="v{{id}}">
    {{#profile_photo}}
    <img src="{{thumbnail}}" class="profile_photo">
    {{/profile_photo}}
    <p><strong><a href="{{absolute_url}}">{{full_name}}</a></strong></p>
</div>